<!DOCTYPE html>
<html>
  <head>
    <title>MiniBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css" href="./style.css"></style>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="pink accent-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">BLOG</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">SignIN</a></li>
        <li><a href="badges.html">SignOUT</a></li>
        <li><a href="collapsible.html">NEW</a></li>
      </ul>
    </div>
  </nav>
    <script type="text/javascript" src="./app.js"></script>
    <%= yield %>
  </body>
</html>
