<div class="row">
    <div class="col s12 m6">
      <div class="card blue lighten-3">
        <div class="card-content white-text">
          <span class="card-title">投稿者：<%= post.user.name %></span>
          <%= simple_format(post.text)%>
        </div>
        <div class="card-action">
            <%= link_to '編集', "/posts/#{post.id}/edit", method: :get%>
            <%= link_to '削除', "/posts/#{post.id}", method: :delete%>

        </div>
      </div>
    </div>
  </div>


