
<div class="row">
  <div class="flash">
    <% if flash[:notice]%>
    <p><%= flash[:notice]%></p>
    <% end %>

  </div>

  <% @posts.each do |post|%>
  <div class="post-box">
  <%= render partial: "posts", locals: { post: post}%>
  </div>
  <% end %>

<%= paginate(@posts)%>
</div>




