
<div class="contents row">
  <%= form_for @post do |f|%>
    <h3>
      投稿する
    </h3>
    <%= f.text_area :text, placeholder: "入力してください", class: "form-text"%>
    <%= f.submit "送信", class: "form-btn" %>
  <% end %>
</div>
